<html>
  <head>
    <title>$i18n.getText("realsla.config.title")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("jira.webresources:calendar")
    $webResourceManager.requireResource("jira.webresources:calendar-en")
    $webResourceManager.requireResource("lv.ebit.jira.plugins.realsla:resources")
  </head>
  <body>
    <table class="jiraform maxWidth" id="realsla">
      <tr class="titlerow">
        <td class="jiraformheader">
          <h3 class="formtitle">$i18n.getText("realsla.config.title")</h3>
        </td>
      </tr>
      <tr>
        <td class="instructions">
          <p>The JIRA SLAdiator plugin allows you to send JIRA ticket data to SLAdiator in <strong>secure</strong> way:</p>
          <ul>
            <li>Plugin sends only ticket ID and status transition history.</li>
            <li>Plugin doesn’t send ticket summary, description, client information, attachments, comments or other information which might be sensitive.</li>
          </ul> 
          <p>SLAdiator is monitoring your ticket workflow, calculates spent time according your Service Level Agreement and warns you before SLA breach.</p>
        </td>
      </tr>
      <tr>
        <td class="jiraformbody">
          <ul class="operations">
            <li>
              <a id="add_sla" class="operations-item" href="#">
                <span class="icon icon-add16"></span>$i18n.getText("realsla.config.add")
              </a>
            </li>
          </ul>
            
          <table class="aui">
            <thead>
              <tr>
                <th class="sla-name">$i18n.getText("realsla.config.sla")</th>
                <th class="sla-projects">$i18n.getText("realsla.config.projects")</th>
                <th class="sla-actions">$i18n.getText("realsla.config.actions")</th>
              </tr>
            </thead>
            <tbody>
              <tr id="newRecord" style="display:none;" class="">
                <td colspan="3">
                  <form class="aui" action="#" method="post">
                    <div class="formErrors" style="display:none"></div>
                    <fieldset>
                      <div class="field-group">
                        <label for="new_sla">$i18n.getText("realsla.config.sla")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
                        <input class="text " maxlength="150" name="sla" type="text" id="new_sla">
                      </div>
                      <div class="field-group">
                        <label for="new_sla_token">$i18n.getText("realsla.config.sla_token")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
                        <input class="text long-field" maxlength="150" name="sla_token" type="text" id="new_sla_token">
                      </div>
                      <div class="field-group">
                        <label for="new_send_assignee">$i18n.getText("realsla.config.send_assignee")</label>
                        <input class="checkbox " name="send_assignee" type="checkbox" value="1" id="new_send_assignee">
                      </div>
                      <div class="field-group">
                        <label for="new_projects">$i18n.getText("realsla.config.projects")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
                        <select name="project[]" multiple="multiple" id="new_projects">
			                    #foreach ($project in $projects) 
                            <option value="$project.getId()">$project.getName() ($project.getKey())</option>
                          #end
			                  </select>
                      </div>
                     </fieldset>
                     <input type="submit" name="save" value="Save" accesskey="s" class="button spaced ">
                     <input type="button" class="spaced new-cancel" accesskey="`" name="cancel" value="Cancel">
                  </form>
                </td>
              </tr>
              #foreach ($config in $configuration)
                <tr id="row$config.getSlaToken()-show">
                  <td>
                     <a class="sla-edit" href="#" data-row="$config.getSlaToken()">$config.getSla() ($config.getSlaToken())</a>
                  </td>
                  <td>
                    $config.projectNamesFromProjects($projects)
                  </td>
                  <td>
	                  <ul class="operations-list">
	                     <li><a href="$realSlaUrl/sla_token/$config.getSlaToken()">$i18n.getText("realsla.config.gotosla")</a></li>
	                    <li><a class="sla-edit" href="#" data-row="$config.getSlaToken()">$i18n.getText("realsla.config.edit")</a></li>
	                    <li><a class="sla-delete" href="#" data-row="$config.getSlaToken()">$i18n.getText("realsla.config.delete")</a></li>
	                  </ul>
	                </td>
                </tr>
                <tr id="row$config.getSlaToken()-edit" style="display:none;">
	                <td colspan="3">
	                  <form class="aui row-level" action="#" method="post">
	                   <div class="formErrors" style="display:none"></div>
	                    <fieldset>
	                      <div class="field-group">
	                        <label for="sla$config.getSlaToken()">$i18n.getText("realsla.config.sla")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
	                        <input class="text " maxlength="150" name="sla" type="text" value="$config.getSla()" id="sla$config.getSlaToken()">
	                      </div>
	                      <div class="field-group">
	                        <label for="sla_token$config.getSlaToken()">$i18n.getText("realsla.config.sla_token")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
	                        <input class="text long-field" maxlength="150" name="sla_token" type="text" value="$config.getSlaToken()" id="sla_token$config.getSlaToken()">
	                      </div>
	                      <div class="field-group">
	                        <label for="send_assignee$config.getSlaToken()">$i18n.getText("realsla.config.send_assignee")</label>
	                        <input class="checkbox " name="send_assignee" $config.checkedSendAssignee() type="checkbox" value="1" id="send_assignee$config.getSlaToken()">
	                      </div>
	                      <div class="field-group">
	                        <label for="projects$config.getSlaToken()">$i18n.getText("realsla.config.projects")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
	                        <select name="project[]" multiple="multiple" id="projects$config.getSlaToken()">
	                          #foreach ($project in $projects) 
	                            <option value="$project.getId()" $config.selectedProject($project.getId())>$project.getName() ($project.getKey())</option>
	                          #end
	                        </select>
	                      </div>
	                     </fieldset>
	                     <input type="submit" name="save" value="Save" data-row="$config.getSlaToken()" accesskey="s" class="button spaced ">
	                     <input type="button" class="spaced row-cancel" data-row="$config.getSlaToken()" accesskey="`" name="cancel" value="Cancel">
	                  </form>
	                </td>
	              </tr>
              #end
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="errors">
          #if (!$errors.isEmpty())
            <h3 class="formtitle">$i18n.getText("realsla.config.errors")</h3>
            #foreach ($error in $errors)
              #if (!$error.isEmpty()) 
                <a href="$issue_url$error">$error</a>
               #end
            #end
            <br />
            <input type="button" class="spaced row-cancel" id="clearErrors" value="Clear Issues from error list">
          #end
        </td>
      </tr>
      <tr>
        <td>
          <h3 class="formtitle">$i18n.getText("realsla.config.teleport")</h3>
          <form class="aui teleport" action="#" method="post">
            <div class="formErrors" style="display:none"></div>
            <div class="success infoBox" style="display:none"></div>
            <div class="field-group aui-field-datepicker">
              <label for="teleport_date_from">$i18n.getText("realsla.config.date_from")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
	            <input class="text medium-field " maxlength="150" name="date_from" type="text" id="teleport_date_from"/>
	            <a href="#" id="teleport_date_from-trigger" title="Select a date">
	              <span class="aui-icon icon-date">Select a date</span>
	            </a>
	            <script type="text/javascript">
		            Calendar.setup({
		              firstDay : 0,
		              inputField : 'teleport_date_from',
		              button : 'teleport_date_from-trigger',
		              align : 'Br',
		              singleClick : true,
		              useISO8601WeekNumbers : false,
		              ifFormat : '%e/%m/%Y'
		            });
	            </script>
            </div>
            <div class="field-group">
              <label for="teleport_sla">$i18n.getText("realsla.config.for_sla")<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
              <select name="sla[]" multiple="multiple" id="teleport_sla" class="medium-field">
                #foreach ($config in $configuration) 
                  <option value="$config.getSlaToken()">$config.getSla()</option>
                #end
              </select>
             </div>
            <input type="submit" name="save" value="Send to SLAdiator" class="button spaced">
          </form>
          <div class="aui-blanket" id="freezer" style="display: none;"></div>
        </td>
      </tr>
    </table>
  </body>
</html>